{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}
    <h1>Добавление телефона</h1>
    <form action="{{ path('profile.phones.store') }}" method="POST">
        <div class="fieldset">
            <div class="form-item">
                <div class="label">Телефон<sup>*</sup></div>
                <div class="input">
                    <input type="phone" name="phone" data-js="input">
                </div>
            </div>
            <div class="form-item">
                <div class="label">Получить код подтверждения с помощью</div>
                <div class="input">
                    <button type="submit" class="button">телефонного звонка</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
<script>
    const $input = document.querySelector('[data-js="input"]')
    $input.addEventListener('input', handleInput, false)

    function handleInput (e) {
        e.target.value = phoneMask(e.target.value)
    }

    function phoneMask (phone) {
        return phone.replace(/\D/g, '')
            .replace(/^(\d)/, '($1')
            .replace(/^(\(\d{2})(\d)/, '$1) $2')
            .replace(/(\d{4})(\d{1,5})/, '$1-$2')
            .replace(/(-\d{5})\d+?$/, '$1');
    }
</script>
