{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}
    <h1>Телефоны</h1>

    <p>Вы можете подключить к аккаунту несколько номеров и использовать их на сервисах Автодиспетчера — например, для получения sms-рассылок или размещения объявлений.</p>
    <p>Если номер уже не принадлежит вам, удалите его или привяжите другой.</p>
    <p>Другие посетители видят только ваши подтвержденные телефоны.</p>
    {% for phone in phones %}
        <div>{{ phone.phone }}</div>
    {% endfor %}

    <a class="button" href="{{ path('profile.phones.create') }}">Добавить новый телефон</a>
{% endblock %}

