.multiple {
    padding: 13px 10px 0;
    box-sizing: border-box;
    font-size: 12px;
    list-style: none;
    margin: 0;
    overflow-y: auto;

    &__item {
        list-style: none;
        padding-bottom: 8px;
        position: relative;
    }
}
.checkbox {
    position: relative;

    &__wrapper {
        font-family: Verdana, "Dejavu Sans", Geneva, Tahoma, sans-serif;
        cursor: pointer;
        line-height: normal;
        outline: 0;
        position: relative;
        display: flex;
        align-items: center;
    }

    & input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);

        + span {
            padding-left: 18px;
            font-size: 12px;
            display: inline-block;
            position: relative;
            font-weight: 400;
            color: var(--glz-color-neutral-tone-5);
            line-height: 16px;
            padding-top: 1px;
            padding-bottom: 1px;
            letter-spacing: normal;

            &::before {
                content: '';
                position: absolute;
                padding: 2px;
                left: 0;
                width: 12px;
                height: 12px;
                top: 3px;
                display: inline-block;
                border-radius: 2px;
                color: var(--glz-color-neutral-tone-3);
                background-color: var(--glz-color-neutral-tone-0);
                border: 1px solid var(--glz-color-neutral-tone-3);
                box-sizing: border-box;
            }
        }

        &:checked + span:before {
            background: var(--glz-color-primary);
            border: 1px solid transparent;
        }

        &:checked + span::after {
            top: 7px;
            left: 6px;
            //width: 8px;
            //height: 6px;

            content: "";
            display: block;
            //top: 45%;
            //left: 51%;
            width: 7px;
            height: 4px;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            position: absolute;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
