.add {
    margin-bottom: 15px;
    font-size: 18px;
    padding: 10px 20px;
}

.filter__row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 15px;
}
.filter__block {
    display: flex;
}
.filter__block-right {
    gap: 12px;
}
.filter__element {
    position: relative;
    display: flex;
    flex-direction: column;
}
.filter__swap {
    cursor: pointer;
    display: flex;
    margin: 28px 10px 0;
}
.filter__swap svg {
    width: 24px;
    height: 32px;
    fill: #478cc8;
    transition: all .2s ease-in-out;
}
.filter__element-radius {
    width: 72px;
}
.filter__input {
    border-radius: 0;
}
.filter__minMax {
    width: 100%;
    max-width: 142px;
}
.filter__minMax .filter__input {
    width: 50%;
}
.filter__label {
    height: 20px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
}
.question-tooltip {
    display: inline-flex;
    align-self: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 3px;
}
#fromAddressSuggest,
#toAddressSuggest {
    position: absolute;
    display: none;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    left: 0;
    top: 100%;
    margin-top: 4px;
    box-shadow: 0 5px 46px #0000001f,0 7px 15px #0000001f;
    height: 300px;
    overflow-y: auto;
}
.suggest-list {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
}
.suggest-list li {
    padding: 8px 10px 8px 15px;
}
.suggest-list li:hover {
    background-color: #f4f4f4;
}
.meta {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 20px;
}
.meta-right {
    display: flex;
    align-items: flex-end;
}
.sort {
    margin-right: 20px;
}
.table {
    background-color: #fff;
    margin-bottom: 20px;
}
.text-bold {
    font-weight: 900;
}
.text-gray {
    color: #b8b8b8;
}
.table__row {
    border-top: 1px solid #EEF2F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.table__row:nth-child(even) {
    background-color: #F1F1F1;
}

.table__row-header {
    background-color: #B5C3CC;
}
.table__item {
    display: block;
    width: calc(75% / 6);
    padding: 9px 15px;
}
.table__item-big {
    min-width: 292px
}
.table-bottom {
    width: 100%;
    gap: 8px;
    align-items: flex-end;
    display: flex;
    padding: 9px 15px;
}
.table__contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
}
.table-right {
    min-width: 292px;
    display: flex;
    align-items: center;
    gap: 4px;
    /*margin-left: auto;*/
}
.table__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact {
    color: #071829;
}
.contact_send {
    margin-right: 8px;
    color: #2277cc;
    text-decoration: none;
}
.contact_svg {
    margin-right: 4px;
    margin-top: 6px;
}
.telephone {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.price__item {
    padding: 2px 0;
}
.send-bid {
    margin: 0;
    color: rgb(71, 140, 200);
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    outline: none;
    padding: 0;
    text-align: left;
    text-decoration: underline;
}
.icon-info {
    align-items: center;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 2px;
    width: 24px;
    background-color: #9b6aa7;
}
.icon-note {
    align-items: center;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 2px;
    width: 24px;
    background-color: #2277cc;
}
.arrow-svg {
    background-color: #478cc8;
    margin-bottom: -2px;
    margin-right: 5px;
    padding: 3px;
}
.page {
    cursor: pointer;
    text-decoration: none;
    line-height: normal;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    width: auto;
    margin: 0;
    padding: 4px 8px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #48b1ec;
}
.page.active {
    cursor: default;
    color: #fff;
    background-color: #48b1ec;
}
.perPage {
    margin-left: auto;
}
