
    <h3 class="footer-title">Контакты и тарифы</h3>

    <ul>
        <li>
            <a href="">О системе</a>
        </li>
        <li>
            <a href="{{ path('agreement') }}">Пользовательского соглашения</a>
        </li>
        <li>
            <a href="">Контактная информация</a>
        </li>
        <li>
            <a href="">Реклама на сайте</a>
        </li>
        <li>
            <a href="">Тарифы</a>
        </li>
    </ul>

