{% extends "base.html.twig" %}

{% block title %}Пользовательское соглашение (договор присоединения){% endblock %}



{% block body %}
    <h1>Пользовательское соглашение (договор присоединения)</h1>

{% endblock %}
